<main id="main">

  <!-- ======= Breadcrumbs ======= -->
  <div class="breadcrumbs" data-aos="fade-in">
    <div class="container">
      <h2>Internship course on Mobile Technology</h2>
      <p>

      </p>
    </div>
  </div><!-- End Breadcrumbs -->
    <!-- ======= Cource Details Section ======= -->
    <section id="course-details" class="course-details">
      <div class="container" data-aos="fade-up">

        <div class="row">
          <div class="col-lg-8">
            <img src="assets/img/mobileTech.jpg" class="img-fluid" alt="">
            <h3>Internship course on Mobile Technology</h3>
            <p>
                The following topics will cover in practical approach along with our Mobile Tower Technical team
              <ul>
                <li>Evolution of Mobile Technology (2G to 5G)</li>
                <li>GSM, GPRS, EDGE</li>
                <li>CDMA/WCDMA</li>
                <li>LTE</li>
                <li>Call flow in mobile communication</li>
                <li>Handovers, power measurement</li>
                <li>Call drops, interference</li>
                <li>Cross section of Antenna, Micro wave antennas and its cables and couplers </li>
              </ul>
              
            </p>
            <p>
                Hands on training on RF power measurement, VSWR measurement, DMW, Tower hardware (BTS/node B, e-node B) and its connecting cables and its media.


            </p>
          </div>
          <div class="col-lg-4">

            <div class="course-info d-flex justify-content-between align-items-center">
              <h5>Trainer</h5>
              <p><a href="#">Cell one Team</a></p>
            </div>

            <!-- <div class="course-info d-flex justify-content-between align-items-center">
              <h5>Course Fee</h5>
              <p>Rs. 2950.00</p>
            </div> -->

            <div class="course-info d-flex justify-content-between align-items-center">
              <h5>Available Seats</h5>
              <p>20</p>
            </div>

            <div class="course-info d-flex justify-content-between align-items-center">
              <h5>Duration</h5>
              <p>2 Weeks</p>
            </div>

          </div>
        </div>

      </div>
    </section><!-- End Cource Details Section -->
</main>    


