<main id="main">

  <!-- ======= Breadcrumbs ======= -->
  <div class="breadcrumbs" data-aos="fade-in">
    <div class="container">
      <h2>Internship course on Web Development</h2>
      <p>

      </p>
    </div>
  </div><!-- End Breadcrumbs -->
    <!-- ======= Cource Details Section ======= -->
    <section id="course-details" class="course-details">
      <div class="container" data-aos="fade-up">

        <div class="row">
          <div class="col-lg-8">
            <img src="assets/img/WebDevelopment.jpg" class="img-fluid" alt="">
            <h3>Internship on Web Development</h3>
            <p>
                The following topics will cover in practical approach with the concerned Technical team
              <ul>
                <li> <b>Overview on HTML</b> </li>
                  <ul>
                    <li>HTML Basic Tags</li>
                    <li>HTML Forms</li>
                    <li>HTML Tables</li>
                  </ul>
                <li> <b>Overview on CSS</b> </li>
                  <ul>
                    <li>CSS Basic</li>
                    <li>CSS Grid</li>
                    <li>CSS Flex</li>
                    <li>CSS Animations</li>
                    <li>Bootstrap</li>
                  </ul>
                <li> <b>Overview on Javascript</b> </li>
                    <ul>
                      <li>Variables</li>
                      <li>Conditional statements</li>
                      <li>Loops</li>
                      <li>Operators</li>
                      <li>Objects</li>
                      <li>Arrays & Functions</li>
                      <li>This keyword</li>
                      <li>Arrow functions</li>
                      <li>OOPS</li>
                      <li>Exception handling</li>
                      <li>DOM </li>
                      <li>Projects</li>
                    </ul>
                <li>Introduction to Jquery</li>
                <li>Introduction to Bootstrap</li>            
                
              </ul>
              
            </p>
            <p>
                Project : Building Business / Profolio Websites from scratch
            </p>
          </div>
          <div class="col-lg-4">

            <div class="course-info d-flex justify-content-between align-items-center">
              <h5>Trainer</h5>
              <p><a href="#">IT Team</a></p>
            </div>

            <!-- <div class="course-info d-flex justify-content-between align-items-center">
              <h5>Course Fee</h5>
              <p>Rs. 2950.00</p>
            </div> -->

            <div class="course-info d-flex justify-content-between align-items-center">
              <h5>Available Seats</h5>
              <p>20</p>
            </div>

            <div class="course-info d-flex justify-content-between align-items-center">
              <h5>Duration</h5>
              <p>2 Weeks</p>
            </div>

          </div>
        </div>

      </div>
    </section><!-- End Cource Details Section -->
  </main>

