<section id="about" class="about">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>About</h2>
        <p>About Us</p>
      </div>

      <div class="row">
        <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
          <!-- <img src="assets/img/about.jpg" class="img-fluid" alt=""> -->
          <img src="assets/img/aboutus.jpg" class="img-fluid" alt="BSNL">
        </div>
        <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content">
          <h3><abbr title="Bharat Sanchar Nigam Limited">BSNL</abbr>Training Point Viskhapatnam</h3>
          <p class="font-italic">
            Visakhapatnam <abbr title="Training Point">TP</abbr> is a fully standards-compliant Training Center, established by BSNL to impart training in Latest Telecom Technologies and Information Technology to the students and to corporate customers, all over India.It is also providing value-added Certification Courses and Major/Mini projects to B.Tech/B.E/MCA students in ECE and CSE/IT, coming from various Engineering Colleges
          </p>
          <ul>
            <li><i class="icofont-check-circled"></i>Mini Projects for Engineering Students of ECE/CSE/IT and MCA</li>
            <li><i class="icofont-check-circled"></i>BSNL offers Online Certification Programs</li>
            <li><i class="icofont-check-circled"></i>Industrial Visit for Engineering Students</li>
            <li><i class="icofont-check-circled"></i>Management : BBA / MBA Internship / Project Works</li>
          </ul>
         
          <a href="about" class="learn-more-btn">Learn More</a>
        </div>
      </div>

    </div>
  </section>