
  <!-- ======= Hero Section ======= -->
  <!--   <section id="hero" class="d-flex justify-content-center align-items-center">
    <div class="container position-relative" data-aos="zoom-in" data-aos-delay="100">
      <img src="assets/img/bsnl_150px.png" class="img-fluid" alt="BSNL">
      <h1>Learning Today,<br>Leading Tomorrow</h1>
      <h2>BSNL Training Point Viskhapatnam</h2>
        <h2>our vision, to achieve Global Training standards in Telecom and Information Technologies.</h2>
      <a href="courses.html" class="btn-get-started">Get Started</a>
    </div>
  </section> --->
  <section>
    <div id="slideset2" class="justify-content-center align-items-center" >
      <div  data-aos="zoom-in" data-aos-delay="100">
        <div class="container">
          <img src="assets/img/bsnl_150px.png" class="img-fluid inline-block" alt="BSNL">
        <h1>Learning Today,<br>Leading Tomorrow</h1>
        <h2>BSNL Training Point Viskhapatnam</h2>
          <h2>our vision, to achieve Global Training standards in Telecom and Information Technologies.</h2>
        </div>

      </div>
<!--
      <div>
        <div class="container">
          <h1>MOU with Andhra University</h1>
        </div>
      </div>
      <div>
        <div class="container">
          <br><br>
          <h1>MOU with ANITS </h1>
          <h2>(Anil Neerukonda Institute of Technology & Sciences)</h2>
        </div>
      </div>

      <div>
        <div class="container">
          <br><br>
          <h1>MOU with Gayatri Vidya Parishad College Of Engineering</h1>
        </div>
      </div>

      <div>
        <div class="container">
          <h1>MOU with GITAM</h1>
        </div>
      </div>

       -->

    </div>

  </section><!-- End Hero -->
<main id="main">

      <!-- ======= Popular Courses Section ======= -->
      <app-courses></app-courses>
      <!-- End Popular Courses Section -->

    <!-- ======= About Section ======= -->
    <!-- End About Section -->
      <app-about></app-about>
    <!-- ======= Counts Section ======= -->
      <!-- <app-counter></app-counter> -->
    <!-- End Counts Section -->

    <!-- ======= Why Us Section ======= -->
    <section id="why-us" class="why-us">
      <div class="container" data-aos="fade-up">

        <div class="row">
          <div class="col-lg-4 d-flex align-items-stretch">
            <div class="content">
              <h3>Why BSNL Training Point ?</h3>
              <p>
                To deliver training of International Standards with a team of highly skilled and experienced training professionals. Training is a life transformation process with upgradation in skills.
              </p>
              <div class="text-center">
                <a href="about.html" class="more-btn">Learn More <i class="bx bx-chevron-right"></i></a>
              </div>
            </div>
          </div>
          <div class="col-lg-8 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
            <div class="icon-boxes d-flex flex-column justify-content-center">
              <div class="row">
                <div class="col-xl-4 d-flex align-items-stretch">
                  <div class="icon-box mt-4 mt-xl-0">
                    <i class="bx bx-receipt"></i>
                    <h4>Internship courses </h4>
                    <p>Intership courses for B.E/B.Tech  ECE, EEE, CSE, IT</p>
                  </div>
                </div>
                <div class="col-xl-4 d-flex align-items-stretch">
                  <div class="icon-box mt-4 mt-xl-0">
                    <i class="bx bx-cube-alt"></i>
                    <h4>Miniprojects</h4>
                    <p>Miniprojects for B.E/B.Tech  ECE, EEE, CSE, IT</p>
                  </div>
                </div>
                <div class="col-xl-4 d-flex align-items-stretch">
                  <div class="icon-box mt-4 mt-xl-0">
                    <i class="bx bx-images"></i>
                    <h4>APSSDC</h4>
                    <p>Andhra Pradesh State Skill Development Corporation Programs</p>
                  </div>
                </div>
              </div>
            </div><!-- End .content-->
          </div>
        </div>

      </div>
    </section><!-- End Why Us Section -->


</main>
