<section class="courses">
  <div class="container"  ng-controller="registerCtrl">  
    <form  name="formRgt" class="formRgt">
    
      <div class="form-group" >
        <label for="name">Name (The Same will be mentioned in the Course Certificate )</label>
        <input type="text" class="form-control" name="name"  ng-required=true ng-model="student.name">
      </div>  
      <div class="row">
        <div class="form-group col-md-6">
          <label for="email">Email</label>
          <input type="email" class="form-control" name="email"  ng-required=true ng-model="student.email">
        </div>  
        <div class="form-group col-md-6">
          <label for="mobile">Mobile No</label>
          <input type="number" class="form-control" name="mobile"  ng-required=true ng-model="student.mobile">
        </div>
      </div>
      <div class="row">
        <div class="form-group col-md-8">
          <label for="college">College</label>
          <!-- <input type="text" class="form-control" name="college"  ng-required=true ng-model="student.college"> -->
          <select class="form-control"  ng-required=true ng-model="student.college" >
            <option ng-selected="{{o.value == student.college}}"
                  ng-repeat="o in collegeList" value="{{o.collegeName}}">{{o.collegeName}}, {{o.collegeDistrict}}</option>         
          </select> 
        </div>  
        <div class="form-group col-md-4">
          <label for="collegeid">ID / Roll Number</label>
          <input type="text" class="form-control" name="collegeid"  ng-required=true ng-model="student.collegeid">
        </div>  
      </div>  
     
      <!-- <div class="form-group">
        <label for="aadhar">Aadhar Number</label>
        <input type="text" class="form-control" name="aadhar"  ng-required=true ng-model="student.aadhar">
      </div> -->
      <div class="row">
        <div class="form-group col-md-6">
          <label for="dob">Date of Birth</label>
          <input type="date" class="form-control" name="dob" 
                 ng-required=true ng-model="student.dob" >
        </div>
        <div class="form-group col-md-6">
          <label for="gender">Gender </label> 
          <div class="clear"></div>
        
          <div class="form-check form-check-inline">        
            <input type="radio" name="gender"  ng-required=true ng-model="student.gender" value="m"
                    class="form-check-input">
            <label class="form-check-label">Male</label>
          </div> 
          <div class="form-check form-check-inline">        
            <input type="radio" name="gender"  ng-required=true ng-model="student.gender" value="f" 
              class="form-check-input">
            <label class="form-check-label">Female</label>
          </div>   
        </div> 
      </div>
      
      <div class="row">
        <div class="form-group col-6">
          <label for="Branch">Studying</label>
          <select class="form-control"  ng-required=true ng-model="student.class" name="class">
            <optgroup label="Engineering">
              <option value="B.Tech">B.Tech</option>
              <option value="B.E">BE</option>
              <option value="ME">ME</option>
              <option value="M.Tech">M.Tech</option>
              <option value="Diploma">Diploma</option>
            </optgroup> 
           
            <optgroup label="Business Administration">
              <option value="BBA">BBA</option>
              <option value="MBA">MBA</option>
            </optgroup>
           
            <optgroup label="Degree">
              <option value="B.Sc">B.Sc</option>
              <option value="B.com">B.Com</option>
              <option value="BA">BA</option>
            </optgroup>              
          </select>
        </div>
        <div class="form-group col-6">
          <label for="Branch">Select Branch</label>
          <select class="form-control"  ng-required=true ng-model="student.branch" name="branch">
            <optgroup label="Engineering">
              <option value="CSE">CS</option>
              <option value="IT">IT</option>
              <option value="ECE">ECE</option>
              <option value="EIE">EIE</option>
              <option value="EEE">EEE</option>
              <option value="Mech">Mech</option>
            </optgroup>
            
            <optgroup label="Degree">
              <option value="MPCs">MPCs</option>
              <option value="Computers">Computers</option>
            </optgroup>  
            <optgroup label="MBA">
              <option value="HR">HR</option>
            <option value="Finance">Finance</option>
            <option value="Marketing">Marketing</option>
            </optgroup>           
            
            
          </select>
        </div>
      </div>

      
      <div class="form-group">
        <label for="tp">Training Center</label>
        <input type="text" class="form-control" name="tp" 
             ng-required=true ng-model="student.tp" ng-disabled="true">
      </div>
      
      <div class="form-row">
        <div class="form-group col-md-4">
          <label>Course Type</label>
          <select class="form-control"  ng-required=true ng-model="student.courseType" >
            <option value="Internship">Internship</option>
            <option value="Mini Project">Mini Project</option>
            <option value="Major Project">Major Project</option>                    
            <option value="Industrial visit">Industrial Visit</option>            
            <option value="Apprenticeship">Apprenticeship for Diploma</option>            
          </select>
        </div>

        <div class="form-group col-md-5">
          <label for="Branch">Select Course</label>
          <!-- <select class="form-control"  ng-required=true ng-model="course" 
              ng-options="o.courseName for o in courses"></select>    
              <span ng-show="false">Selection : {{student.courseName = course.courseName}}  </span> 
                      -->
          
            <input type="text" class="form-control" ng-required=true ng-model="student.courseName"
              ng-hide="(student.courseType == 'Internship')">
            <select class="form-control" ng-required=true ng-model="student.courseName"
              ng-show="(student.courseType == 'Internship')">
              <option ng-selected="{{o.value == student.courseName}}" 
                  ng-repeat="o in courses" value="{{o.courseName}}">
                {{o.courseName}}
              </option>   
              <option value="Networking & Telecom">Networking & Telecom</option>           
              <option value="HR">HR</option>
              <option value="Finance">Finance</option>
              <option value="Marketing">Marketing</option>
            </select>
          
         
        </div>
        <div class="form-group col-md-1">
          <label for="mobile">Duration</label>
          <input type="number" class="form-control"   ng-required=true ng-model="student.courseDuration"> 
        </div>
        <div class="form-group col-md-2">
          <label for="mobile">(in Weeks/Days)</label>
          <select class="form-control"  ng-required=true ng-model="student.DurationType" >
            <option value="days">Days</option>
            <option value="weeks">Weeks</option>
            <option value="months">Months</option> 
            <option value="years">Years</option>
          </select>
        </div>
      </div>
      
       <!-- 
      <div class="form-group">
        <label for="tp">Amount</label>
        <input type="text" class="form-control" name="courseAMT" 
             ng-required=true ng-model="student.courseAMT" ng-disabled="true">
      </div>

      <div class="form-group">
        <label for="aadhar">NTFT/IMPS Transation Details</label>
        <textarea  class="form-control" name="paymentDetails" row="5" 
        placeholder="TransationID :complete Transation Number &#10;Transation Date : dd-MM-yyyy"
         ng-required=true ng-model="student.paymentDetails">

        </textarea>
      </div> -->
      <div  class="text-white bg-dark bctGrid4 h5">
        <label class="text-warning">Payment Type :  </label> 
        <div>
          <input type="radio" name='PayType' ng-required=true ng-change="RadioChangePayType('online')"
                ng-model="student.paymentType" value="online" >
          <labe>Online</labe>
        </div>
        <div>          
          <input type="radio"   name='PayType' ng-required=true ng-change="RadioChangePayType('offline')"
                ng-model="student.paymentType" value="offline">
          <labe>Offline</labe>
        </div>        
      </div>
      <div class="row">  
           
        <div class="form-group col-md-4">        
          <label>{{paytype.id}}</label>
          <input type="text"   ng-required=true ng-model="student.TransationID" class="form-control">   
        </div>      
        <div class="form-group col-md-4">
          <label>{{paytype.dt}}</label>
          <input type="text"   ng-required=true ng-model="student.TransationDate" class="form-control" placeholder="dd-MM-yyyy">
        </div>  
        <div class="form-group col-md-2"> 
          <labe>Transaction Amt</labe>
          <input type="number"  ng-required=true ng-model="student.courseAMT" class="form-control">
        </div> 
        <div class="form-group col-md-2"> 
          <labe>Course Fee</labe>
          <input type="number"  ng-required=true ng-model="student.partAMT" class="form-control">
        </div> 
        
      </div>
      <div>

      </div>
       <P class="h6">It is advised to Copy and Paste the TransationID for easy verification </P>
      <button class="btn btn-info" ng-click="submitForm('POST')"
            ng-disabled="!formRgt.$valid" ng-hide="btnHide" ng-if="!student._id">Submit</button>
      <button class="btn btn-success" ng-click="submitForm('PUT')"
            ng-disabled="!formRgt.$valid" ng-hide="btnHide" ng-if="student._id">Edit</button>
      <button  class="btn btn-danger" ng-click="submitForm('DELETE')"
            ng-disabled="!formRgt.$valid" ng-hide="btnHide" ng-if="student._id">Delete</button>
      Form Valid: {{formRgt.$valid}}
    </div> 

      
    </form>
  </div>
</section>

